
__pycache__/
*.pyc
*.pyo
*.pyd


.venv/
env/
venv/
etica/


.git
.gitignore


Dockerfile
.dockerignore


.vscode/
.idea/


dist/
build/
*.egg-info/
.eggs/
.pytest_cache/
htmlcov/


*.log
*.sqlite3
*.db